@font-face {
  font-family: 'Icons';
  src:  url('fonts/icons-katrinkerber.eot');
  src:  url('fonts/icons-katrinkerber.eot?#iefix') format('embedded-opentype'),
        url('fonts/icons-katrinkerber.woff') format('woff'),
        url('icons-katrinkerber.ttf') format('truetype'),
        url('fonts/icons-katrinkerber.svg#icons-katrinkerber') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'NewsCycleReg';
    src: url('fonts/newscycle-regular-webfont.eot');
    src: url('fonts/newscycle-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/newscycle-regular-webfont.woff') format('woff'),
         url('fonts/newscycle-regular-webfont.ttf') format('truetype'),
         url('fonts/newscycle-regular-webfont.svg#news_cycleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'NewsCycleBold';
    src: url('fonts/newscycle-bold-webfont.eot');
    src: url('fonts/newscycle-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/newscycle-bold-webfont.woff') format('woff'),
         url('fonts/newscycle-bold-webfont.ttf') format('truetype'),
         url('fonts/newscycle-bold-webfont.svg#news_cyclebold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-light-webfont.woff') format('woff'),
         url('fonts/opensans-light-webfont.ttf') format('truetype'),
         url('fonts/opensans-light-webfont.svg#open_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansReg';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
