/*
This stylesheet is written as '.scss' and combined and compressed using CodeKit

Following the mobile-first approach, styles are declared for small viewports first, then optimised for larger viewports.

CONTENTS
--Sass variables and mixins
--Webfonts
--Reset
--Typography
--Modular components
--Site header
--Site footer
--Content
--Little helpers
--No-JS
--IE
--Print
*/


/*###########################################################################################*\
    £Sass VARIABLES AND MIXINS
\*###########################################################################################*/
@import "variablesmixins";
/*###########################################################################################*\
    £WEBFONTS
\*###########################################################################################*/
/* @font-face declarations should not be in media queries (not standard and breaks in FF) */
@import "webfonts";
/*###########################################################################################*\
    £RESET
\*###########################################################################################*/
@import "reset";
/*###########################################################################################*\
    £TYPOGRAPHY
\*###########################################################################################*/
body { font: 100%/1.5em $OpenSansLight;
  color: $chocolate;
   /* Nicer text rendering in webkit */ 
  -webkit-font-smoothing: antialiased;
  /* preventing text size adjustment on iOS without disabling zoom */
  -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
}  
h1, h2, h3, h4, h5, h6, 
.faux_h1, .faux_h2, .faux_h3, .faux_h4, .faux_h5, .faux_h6 { font-family: $NewsCycleReg; font-weight: normal; color: $tealDark;} 
h1, .faux_h1 {  /* 25px */font-size: 1.56em; line-height: 1.4em; margin-bottom: 0.28em; text-transform: uppercase; color: $chocolate; }
h2, .faux_h2 {  /* 22px */font-size: 1.38em; line-height: 1.27em; margin-bottom: 0.64em; text-transform: uppercase;}
h3, .faux_h3 { /* 20px */font-size: 1.25em; line-height: 1.4em; margin-bottom: 0.35em; text-transform: none;} 
h4, h5, h6, .faux_h4, .faux_h5, .faux_h6 { /* 18px */font-size: 1.13em; line-height: 1.17em; text-transform: none;} 
p { margin: 0 0 1.31em 0; }
p.lead { /* 20px */font-size: 1.25em; line-height: 1.4em; margin-bottom: 1.75em; text-align: center;}
p img { margin: 0; }

@media only screen and (min-width: 37.5em) { /* small - from 600px */
  h1, .faux_h1 {  /* 35px */font-size: 2.19em; line-height: 1.2em; margin-bottom: 0.6em;}
  h2, .faux_h2 {  /* 24px */font-size: 1.5em; line-height: 1.17em; margin-bottom: 0.29em; color: $chocolate;}
  h3, .faux_h3 { /* 20px */font-size: 1.25em; line-height: 1.4em; margin-bottom: 0; color: $chocolate;}
  h4, h5, h6, .faux_h4, .faux_h5, .faux_h6 { /* 18px */font-size: 1.38em; line-height: 1.27em; margin-bottom: 0.32em; text-transform: none; color: $chocolate;}
  p.lead {  /* 35px */font-size: 2.19em; line-height: 1.31em; margin-bottom: 1.57em; text-align: left; font-family: $NewsCycleReg; color: $tealDark; } 
}

em { font-style: italic; }
strong, b { font-weight: bold; }
small { font-size: 0.81em; line-height: 1.15em; }
abbr[title] { border-bottom: 1px dotted; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
blockquote { position: relative; margin: 0 0 1.31em 0; padding: 0 25px; }
blockquote:before { position: absolute; top: 0; left: 0; font-family: 'Icons'; content: "\e029"; font-size: 1.25em; color: $teal;} 
blockquote p {font-style: italic;}
blockquote p:last-of-type { margin-bottom: 0;}
blockquote cite { font-size: 0.81em; line-height: 1em; }
blockquote cite:before { content:'– '; }
hr { border: 0; border-top: 1px solid $chocolate; padding: 1.31em 0 1.25em 0; margin: 0;}
::-moz-selection, ::selection { background-color: $yellowFaded; }
img { -ms-interpolation-mode: bicubic; vertical-align: middle; } /* improve image quality when scaled in IE 7, remove gap between images and the bottom of their containers */

/* Links */
a { color: $chocolate; text-decoration:none; border-bottom: 1px solid $red; padding: 0 2px; @include transition; }
a:focus { outline: thin dotted; }
a:hover, a:active { color: #fff; background-color: $redFaded; border-color: $redFaded; outline: 0; }
a img { border: none; }
a img:hover { opacity:0.8; -moz-opacity:0.8; }
/* external inline links show icon */
a[href^="http://"]:not([href*="katrinkerber.com"]):after,
a[href^="https://"]:not([href*="katrinkerber.com"]):after { position: relative; top: -0.4em; border-bottom: 0; padding: 0 0 0 5px; font-size: 80%; line-height: 0; font-family: 'Icons'; content: "\e014"; vertical-align: baseline; color: lighten($red, 25%); }
a[href^="http://"]:not([href*="katrinkerber.com"]):hover:after, a[href^="http://"]:not([href*="katrinkerber.com"]):active:after,
a[href^="https://"]:not([href*="katrinkerber.com"]):hover:after, a[href^="https://"]:not([href*="katrinkerber.com"]):active:after { color: #fff;}
a.btn[href^="http://"]:after, a.btn[href^="https://"]:after { content: "";}

/* Lists */
ul, ol { margin:0 0 1.75em 20px; }
li { margin-bottom: 0.44em;}
li:last-child {margin-bottom: 0;}
ul li { list-style-type: disc; }
ol li { list-style-type: decimal; }
ul.unstyled, ol.unstyled { margin-left: 0; }
ul.unstyled li, ol.unstyled li { list-style: none; }
nav ul, nav ul li { margin:0; list-style:none; }
dl { margin: 0 0 1.31em 0; }
dt { font-weight: bold; }
dd { margin:0 0 0.44em 10px; }

/* Tables */
table { width: 100%; margin-bottom: 1.31em; text-align: left; }
th {padding: 0.31em 10px; border-bottom: 1px solid $chocolate; font-weight: bold; text-align: left; vertical-align: top; }
td {padding: 0.31em 10px; border-bottom: 1px solid lighten($chocolate, 50%); vertical-align: top; }

/*###########################################################################################*\
    £MODULAR COMPONENTS
\*###########################################################################################*/
/* Icons */
@import "icons";
/* Buttons */ 
.btn { display: block; width: 98%; margin: 0 auto 1.31em auto; border: none; background: $red; color: #FFF; font-family: $NewsCycleBold; /*18px*/font-size: 1.13em; line-height: 2.33em; text-align: center; @include rounded-corners; }
.btn:hover { background: $tealDark;}
a[href^="http://"].btn:after { color: #FFF;} /* for link icons */
a[href^="http://"].btn:hover:after { content: ""; }
.btn.redFaded { background: $redFaded;}
.btn.redFaded:hover { background: $teal;}
.btn.yellow { background: $yellow;}
.btn.yellow:hover { background: $tealDark;}
.btn.yellowFaded { background: $yellowFaded;}
.btn.yellowFaded:hover { background: $teal;}
.btn.teal { background: $teal;}
.btn.teal:hover { background: $redFaded;}
.btn.tealDark { background: $tealDark;}
.btn.tealDark:hover { background: $red;}
.btn.chocolate { background: $chocolate;}
.btn.chocolate:hover { background: $yellow;}
@media only screen and (min-width: 37.5em) { /* small - from 600px */
  .btn { float: left; width: auto; padding: 0 20px 0 15px; margin: 0 0 1.31em 0; text-align: left;}
  .btn i:last-child { padding: 0 15px 0 0; }
  .btn:hover i:last-child { padding: 0 0 0 15px; @include transition;}
}
/* Call for action */
.call-for-action { clear: both; position: relative; margin: 2.57em -10px 2.57em -10px; padding: 0.88em 10px 0.56em 10px; background-color: $yellow; }
.call-for-action p { text-align: center; /* 18px */font-size: 1.13em; line-height: 1.33em; color: #FFF; margin-bottom: 0.66em;}
.call-for-action.red {background-color: $red;}
.call-for-action.redFaded {background-color: $redFaded;}
.call-for-action.yellowFaded {background-color: $yellowFaded;}
.call-for-action.teal {background-color: $teal;}
.call-for-action.tealDark {background-color: $tealDark;}
.call-for-action .btn { margin-bottom: -1.6em;}
@media only screen and (min-width: 37.5em) { /* small - from 600px */
  .call-for-action { margin: 2.57em 0; padding: 1.25em 0 1.35em 0; }
  .call-for-action p { text-align: left; /* 25px*/font-size: 1.56em;}
  .call-for-action .btn { float: right; margin-bottom: -2.1em; }
}
@media only screen and (min-width: 55em) { /* large - from 880px */
  .call-for-action { padding: 1.25em 0 0 0;}
  .call-for-action .btn { margin-bottom: -1em; margin-right: 20%;}
}
/* Grid */
@import "grid";
/*###########################################################################################*\
    £SITE HEADER
\*###########################################################################################*/
body { background: $offWhite url('img/border-top.png') center top repeat-x;}
#site-header { margin-bottom: 1.31em; padding-top:1.63em; }
#site-header hgroup { margin: 0 40px;}
#site-header h1 { font-size: 1.31em; line-height: 1em; margin-bottom: 0.5em; color: $tealDark; text-align: center; }
#site-header h1 a { border: none; background: none; color: $tealDark;}
#site-header h2 { margin-bottom: 1.31em; font-size: 1em; line-height: 1.3125em; text-transform: none; text-align: center; color: $tealDark; }
#site-header nav { width: 100%; background: $teal; text-align: center;}
#site-header nav li { display: inline-block; /* closing inline-block spacing */margin-right: -4px;} 
#site-header nav a { display: block; padding: 15px 10px; border: none; color: #FFF; font-family: $NewsCycleReg; line-height: 1em;}
#site-header nav a:hover { background-color: $tealDark;}
#site-header nav .current { position: relative; background-color: $red;}
#site-header nav .current:before { position: absolute; top: 0; left: 0; width: 100%; font-family: 'Icons'; content: "\e02d"; text-align: center;}
@media screen and (max-device-width: 36em) { /* handhelds */
/* fancy-schmanzy bottom fixed menu \o/ for iOS5+ - iOS version is detected via JS */
  .positionfixed #site-header { border-bottom: 1px solid $teal;}
  .positionfixed #site-header nav { position: fixed; bottom: 0; z-index: 999;}
  .positionfixed #site-header nav a.current:before { content: "\e02e";}
}
@media only screen and (min-width: 37.5em) { /* small - from 600px */
  #site-header { margin-bottom: 2.63em;}
  #site-header .colwrapper { padding: 0;}
  #site-header h1 { font-size: 1.57em;}
}
@media only screen and (min-width: 42.19em) { /* medium - from 675px */
  #site-header { padding: 1.88em 25px; border-bottom: 1px solid $tealDark;}
  #site-header hgroup { float: left; width: 28%; margin: 0;}
  #site-header h1, #site-header h2 { text-align: left;}
  #site-header h2 { margin-bottom: 0;}
  #site-header nav { float: right;width: 70%; margin-top: 0; background: none; text-align: right; }
  #site-header nav li { padding-left: 15px; font-size: 1.14em;} 
  #site-header nav li:first-child { padding-left: 0;}
  #site-header nav a { padding: 0.36em 10px 0.5em; color: $tealDark; @include rounded-corners(0.3em);}
  #site-header nav a:hover, #site-header nav a:active { background-color: $redFaded; color: #FFF;}
  #site-header nav .current { position: relative; background-color: $yellow; color: #FFF;}
  #site-header nav .current:before { content: "";}
}

/*###########################################################################################*\
    £SITE FOOTER
\*###########################################################################################*/
#site-footer { padding: 1.31em 10px 2.63em 10px; border-top: 1px solid $chocolate; font-size: 0.88em; line-height: 1.5em;}
#site-footer h2 { font-size: 1.17em; color: $chocolate;}
#site-footer a { white-space:nowrap;}
@media only screen and (min-width: 42.19em) { /* medium - from 675px */
  #site-footer { padding: 1.31em 25px 2.63em 25px;}
}
/*###########################################################################################*\
    £CONTENT
\*###########################################################################################*/
/* Site wide */
#content { position: relative; padding: 0 10px 2.63em 10px; margin-bottom: 2px; border-bottom: 1px solid $chocolate;}
#content h1 { text-align: center;}
#content .go-up { clear: both; float: none; display: block; margin: 0 auto; padding-top: 1.31em; border: none; text-align: center;}
#content .go-up:hover { background: none; color: $red;}
@media screen and (max-device-width: 36em) { /* handhelds */
  /* show heading on handhelds that have nav at bottom of screen */
  .positionfixed #content h1 { position: static; overflow: hidden; width: auto; height: auto; border:0; padding: 0; margin: 0 0 0.8em 0; clip: auto; text-align: center; }
}
@media only screen and (min-width: 37.5em) { /* small - from 600px */
  #content { padding: 0 0 2.63em 0;}
  #content h1 { text-align: left;}
}
/* Section specific */
#home #site-header { margin-bottom: 3em;}
#home #site-header h1 { margin-bottom: 0.88em;}
#home .intro { text-align: center; }
#home .intro .icons { margin-bottom: 2.63em;}
#home .intro i { display: block; font-size: 4em;}
#home .intro i.icon-browser { margin: 0 0 0 -80px; }
#home .intro i.icon-keyboard { margin: -0.3em 0 0 80px; }
@include keyframes(beat) { 0% { font-size: 6em; } 50% { font-size: 4em; } 100% { font-size: 6em; } } /* beating heart */
#home .intro i.icon-heart { @include animate(beat 0.8s linear 3); margin-top: -0.25em; font-size: 6em;}
#home .intro .lead { color:$tealDark;;}
#home .item { margin-bottom: 1.31em; text-align: center;}
#home .item i { font-size: 1.79em;}
#home .item i:first-child {margin: 0 -20px 0 20px;}
#home .item p {text-align: left;}
@media screen and (max-device-width: 36em) { /* handhelds */
  .positionfixed #home #site-header { padding-bottom: 1.31em;}
  .positionfixed #home #site-header h1 { margin-bottom: 0;}
}
@media only screen and (min-width: 37.5em) { /* small - from 600px */
  #home #site-header { margin-bottom: 1.31em;}
  #home .intro .icons { margin-top: 2.57em;}
  #home .intro i { font-size: 5em;}
  @include keyframes(beat) { 0% { font-size: 7em; } 50% { font-size: 5em; } 100% { font-size: 7em; } }
  #home .intro i.icon-heart { font-size: 7em; margin-top: -0.2em;}
  #home .intro .lead { text-align: left; margin-bottom: 0.6em}
  #home .item .icons { margin-top: 1em;}
  #home .item i { font-size: 3.5em;}
  #home .item i:first-child {margin: 0 -35px 0 0;}
  #home .item h2 {text-align: left;}
}
@media only screen and (min-width: 42.19em) { /* medium - from 675px */
  #home #site-header h1 { float: left; width: 30%; margin: 0.1em 0 0 0;}
}
@media only screen and (min-width: 55em) { /* large - from 880px */
  #home #site-header { margin-bottom: 0; border-bottom: none;}
  #home .intro { padding: 4.5em 0; margin: 0 -25px 1.31em; background: url('img/home-intro-bg.png') left top repeat; }
  #home .intro i { font-size: 8em;}
  @include keyframes(grow) { 0% { font-size: 2em; opacity: 0; } 50% { font-size: 4em; opacity: 0.5; } 100% { font-size: 8em; opacity: 1;} }
  #home .intro i.icon-browser { margin: 0.15em 0 0 -200px; @include animate(grow 2s linear); color: #FFF;}
  #home .intro i.icon-keyboard { margin: -0.15em 0 0 130px; color: #FFF; @include animate(grow 2s linear);}
  @include keyframes(show) { 0%, 50%, 75% { opacity: 0; } 100% { opacity: 1;} }
  @include keyframes(beat) { 0% { font-size: 12em; } 50% { font-size: 8em; } 100% { font-size: 12em; } }
  #home .intro i.icon-heart { margin: -0.15em 0 0 -25px; font-size: 12em; @include animate(show 3s linear, beat 0.8s linear 3 2s);}
  #home .intro .lead { margin-bottom: 0; color: #FFF;}
  #home .intro + .colwrapper p { font-size: 1.5em; line-height: 1.17em; color: $tealDark;}
  #home .item .icons { margin-left: 16.66667%;}
  #home .item:nth-child(2n) .icons { float: right; margin-left: 0; margin-right: 8.3333333%; padding-top: 2em;}
  #home .item:nth-child(2n) .icons + div { margin-left: 16.66667%;}
}

#projects article { margin-bottom: 0.64em; border-bottom: 1px solid $teal;}
#projects article:last-of-type {border-bottom: none;}
#projects article h2 + h3 { font-size: 1em; font-style: italic; margin-bottom: 1em;}
#projects article .intro { font-size: 1.13em; line-height: 1.33em;}
#projects article figure { margin: 0 -10px 1.31em -10px; border-top: 2px solid #f0e7c4; border-bottom: 2px solid #f0e7c4;}
#projects article img { width: 100%; height: auto;}
/* projects in accordion for handheld with JS enabled */
@media screen and (max-device-width: 36em) { /* handhelds */
  .js #projects article:last-of-type { border-bottom: 1px solid $teal;}
  .js #projects article h2 { position: relative; }
  .js #projects article h2:after { font-family: 'Icons'; position: absolute; right: 0; top: 0;}
  .js #projects article h2.closed:after { content: "\e02d";}
  .js #projects article h2.open:after { content: "\e02e";}
  .js #projects article:last-of-type { margin-bottom: 2.57em; }
  .js #projects article button.close { display: inline; width:100%; padding: 0; margin: 0 0 1.29em 0; border: none; background: none; text-align: center;}
}
@media only screen and (min-width: 37.5em) { /* small - from 600px */
  #projects article  { margin-bottom: 2.63em; border: none;}
  #projects article figure { margin: 0 0 1.31em 0; border: 2px solid #f0e7c4;}
  #projects article .btns { clear: both;}
  #projects article .btns.right { text-align: right;}
  #projects article .btn { display: inline-block; float: none;}
  #projects article .btn:first-child { margin-right: 15px;}
}

#about #content .lead + i { float: left; font-size: 2em;}
#about #content .lead + i + h2 { float: left;}
#about #content h2 i { font-size: 1.2em;}
@media only screen and (min-width: 37.5em) { /* small - from 600px */
  #about #content .lead + i { font-size: 5em; margin-top: 0.3em;}
}
@media only screen and (min-width: 42.19em) { /* medium - from 675px */
  #about #content .d-col-3 { float: none;}
}
@media only screen and (min-width: 55em) { /* large - from 880px */
  #about #content .lead + i { font-size: 7em; margin-top: 0.3em;}
  #about #content .col-10 > p { max-width: 650px;}
  #about #content .d-col-3 { float: left; margin-top: 1.31em;}
}

#field-notes #content h1 i:first-child { margin: 0 -20px 0 20px;}
#field-notes .filter { text-align: center;}
#field-notes .sort { margin-bottom: 2.63em;}
#field-notes .sort .active { color: $red;}
#field-notes .sort .active:before { font-family: 'Icons'; content: "\e035"; padding-right: 3px; }
#field-notes article { padding-bottom: 1.31em; margin-bottom: 1.31em; border-bottom: 1px solid lighten($chocolate, 50%);}
#field-notes article h2 { margin-bottom: 0.19em; }
#field-notes article h2 a { border: none; padding: 0;}
#field-notes article h2 a:hover {background: none; color: $red;}
#field-notes article time { margin-bottom: 0.44em; color:lighten($chocolate, 20%);}
#field-notes .pagination { clear: both; padding-top: 1.31em; text-align: center;}
#field-notes .pagination li {display: inline-block; padding-left: 10px;}
#field-notes .pagination li:first-child { padding-left: 0;}
@media only screen and (min-width: 37.5em) { /* small - from 600px */
  #field-notes .filter { text-align: left; }
}

#note .icons { font-size: 2em; margin-bottom: 0.5em; text-align: center; }
#note .icons i:first-child { margin: 0 -20px 0 20px;}
#note #content article { margin-bottom: 2em;}
#note #content h1 { color: $tealDark; margin-bottom: 0; }
#note #content h1 + time { margin-bottom: 1.31em; text-align: center;}
#note #content h1 + time + p { font-size: 1.13em; line-height: 1.5em;}
#note #content article p img { width: 100%; height: auto; }
#note #content .comments { margin-top: 2.63em;}
#note #content aside { border-top: 1px solid $tealDark; padding-top: 1em;}
#note #content aside h2 { color: $tealDark;}
@media only screen and (min-width: 37.5em) { /* small - from 600px */
  #note .icons { font-size: 3em; margin-top: 0.3em; text-align: left;}
  #note .icons i:first-child { margin: 0 -40px 0 0;}
  #note #content h1 + time { text-align: left;}
}
@media only screen and (min-width: 42.19em) { /* medium - from 675px */
  #note .icons i:first-child { margin: 0 -40px 0 20px;}
}
@media only screen and (min-width: 55em) { /* large - from 880px */
  #note .icons { font-size: 4em; margin-top: 0.3em;}
  #note .icons i:first-child { margin: 0 -50px 0 0;}
}

#contact .availability { text-align: center; font-size: 1.13em; color: $yellow;}
#contact #content h2 { clear: left; margin-top: 0.5em; }
#contact #content h2 i { font-size: 2em; margin: 0 25px 0 0; width: 85px; }
#contact #content h2 i:first-child { margin-right: -30px;}
#contact #content li { margin-bottom: 0.94em;}
#contact #content li h3 { margin-bottom: 0; }
@media only screen and (min-width: 37.5em) { /* small - from 600px */
  #contact .availability { @include border-box; position: absolute; right: 40px; top: 10em; padding: 20px; width: 145px; height: 145px; background: $yellow; color: #FFF; @include rounded-corners(50%); @include rotate(15deg);}
  #contact .availability i { display: none; }
  #contact #content h2 { text-align: center;}
}
@media only screen and (min-width: 55em) { /* large - from 880px */
  #contact #content h2 i { font-size: 3em;}
  #contact #content h2 i:first-child { margin-right: -45px;}
  #contact .availability { right: 80px; top: 8em;}
}

#page .icons { font-size: 2em; margin-bottom: 0.5em; text-align: center; }
#page .icons i:first-child { margin: 0 -20px 0 20px;}
#page #content h1 { color: $tealDark; }
#page p.lead { font-size: 1.25em; line-height: 1.4em; margin-bottom: 1.05em; text-align: left; }
@media only screen and (min-width: 37.5em) { /* small - from 600px */
  #page .icons { font-size: 3em; margin-top: 0.3em; text-align: left;}
  #page .icons i:first-child { margin: 0 -40px 0 0;}
  #page #content h1 { color: $chocolate; }
  #page p.lead { font-size: 1.5em; line-height: 1.17em; margin-bottom: 0.88em; }
}
@media only screen and (min-width: 42.19em) { /* medium - from 675px */
  #page .icons i:first-child { margin: 0 -40px 0 20px;}
}
@media only screen and (min-width: 55em) { /* large - from 880px */
  #page .icons { font-size: 4em; margin-top: 0.3em;}
  #page .icons i:first-child { margin: 0 -50px 0 0;}
}
/* Fancybox */
@import "fancybox";
/*###########################################################################################*\
    £Little helpers
\*###########################################################################################*/
/* ensure parent element wraps around its floating children - http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { display:table; content:""; }
.clearfix:after { clear:both; }
.clearfix { *zoom:1; } /* for IE 6/7 only */
/*  hide element visually, but have it available for screenreaders - http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visuallyhidden { position: absolute; overflow: hidden; width: 1px; height: 1px; border:0; padding: 0; margin: -1px; clip: rect(0 0 0 0); }
/* hide from everybody */
.hidden { visibility: hidden; display: none !important; }
/* replace text with a background image, but keep screenreaders happy */
.replaced { display:block; background-color:transparent; background-repeat:no-repeat; text-indent:-999999em; text-align:left; line-height:0; }
/* float element to the left */
.float { float:left; clear:none; display:inline; }
/* float element to the right */
.floatright { float:right; clear:none; display:inline; }
/* don't floot element */
.clear { overflow:hidden; clear:both; display:block; }
/* no bottom margin on element */
.no-btm-margin { margin-bottom: 0; }
/*###########################################################################################*\
    £NO JS
\*###########################################################################################*/
.no-js {  }
/*###########################################################################################*\
    £IE
\*###########################################################################################*/
.ie.eight, .ie.seven {
  [class*=icon],
  header#top nav a.active:before,
  blockquote:after { display: none; }
} 

.ie-six {
body, body * {font-family: Arial, Helvetica, sans-serif;}
}
/*###########################################################################################*\
    £PRINT
\*###########################################################################################*/
@media print {
  * {
      background: transparent !important;
      color: #000 !important; /* Black prints faster: h5bp.com/s */
      box-shadow:none !important;
      text-shadow: none !important;
  }

  #content a[href]:after { content:" (" attr(href) ")"; }
  #content  abbr[title]:after { content: " (" attr(title) ")"; }
  thead { display: table-header-group; /* repeats table header on each page - h5bp.com/t */}

  tr,
  img { page-break-inside: avoid;}

  img { max-width: 100% !important;}

  header nav,
  .go-up,
  footer[role=contentinfo] { display: none;}
}
