.backtotop {
  @include media-query(min, $breakpointMedium) {
    display: none;
  }

  html.no-js & {
    display: none;
  }
}

.backtotop__btn {
  padding: 0;
  background: none;
  border: none;
  @include rem(font-size, 16px);
  color: $greyBlue;

  @include hover-states {
    cursor: pointer;
    background: none;
    color: $teal;
  }
}
