.backtotop {
  @include media-query(min, $breakpointMedium) {
    display: none;
  }
}

.backtotop__link {
  background: none;
  @include rem(font-size, 16px);
  color: $greyBlue;
  @include hover-states {
    background: none;
  }
}
