.btn {
  @include inline-block;
  @include rem(padding, 4px 24px);
  @include rem(border-radius, 8px);
  border: 2px solid $green;
  background: $green;

  @include rem(font-size, 18px);
  font-family: $fontBold;
  font-weight: normal;
  color: $offwhite;
  text-transform: uppercase;
  text-align: center;

  &:visited {
    color: $offwhite;
  }

  @include hover-states {
    background: $teal;
    border-color: $teal;
    color: $offwhite;
  }
}

.btn + .btn {
  @include rem(margin-left, 16px);
}

.btn--secondary {
  background-color: transparent;
  border-color: $greyBlue;
  color: $greyBlue;
  &:visited {
    color: $greyBlue;
  }
  @include hover-states {
    color: $offwhite;
    border-color: $teal;
  }
}
