.listing-notes {
  @extend .no-bull;
  margin-top: 0;

  aside & {
    @include rem(margin-top, 16px);
  }
}

.listing-notes__item {
  @include rem(margin-bottom, 16px);
  @include rem(padding-bottom, 16px);
  border-bottom: 1px solid $greyFaded;
}

.listing-notes__heading a {
  background: none;
  color: $greyBlue;
  @include hover-states {
    color: $teal;
  }
}

.listing-notes__heading time {
  margin-bottom: 0;
  @include rem(font-size, 16px);
}

.listing-notes__text {
  @include rem(margin-bottom, 8px);
  p {
    margin-bottom: 0;
  }
}
