{% extends "_layout" %}
{% set pageTitle = entry.title|ucwords ~ ' - ' ~ entry.type|ucwords %}

{% block content %}

  {# project detail #}
  {% if entry.type == 'projects' %}
    <article itemscope itemtype="http://schema.org/WebSite">
      <div class="box box--multicolour">
        <h1 itemprop="name">{{ entry.title|ucwords }}</h1>

          <time datetime="{{ entry.postDate|date('Y-m-d') }}" itemprop="datePublished">
            {{ entry.postDate|date('F Y') }}
          </time>

          {% for image in entry.mainImage %}
            <figure class="page__media">
              <img src="{{ image.url }}" alt="Project screenshots" itemprop="image">
            </figure>
          {% endfor %}

          {{ entry.mainCopy }}

          {# {% for projectInfo in entry.projectInfo %}
            <h2>{{ projectInfo.sectionTitle|ucwords }}</h2>
            {{ projectInfo.sectionContent }}
          {% endfor %} #}

          {% if entry.projectUrl %}
            <a class="btn" href="{{ entry.projectUrl }}" itemprop="url">Visit site</a>
          {% endif %}
          <a class="btn btn--secondary" href="/projects">View other projects</a>
        </div>

      {% for projectQuote in entry.quote %}
        <div class="box box--teal">
          <blockquote>
            {{ projectQuote.text }}
            <footer>
              <cite>{{ projectQuote.sourceName }}</cite>
            </footer>
          </blockquote>
        </div>
      {% endfor %}
    </article>

  {% endif %}
  {# /project detail #}

  {# note detail #}
  {% if entry.type == 'notes' %}
    <article class="box box--multicolour" itemscope itemtype="http://schema.org/BlogPosting">
      <div >
        <h1 itemprop="name">{{ entry.title|ucwords }}</h1>
        <time datetime="{{ entry.postDate|date('Y-m-d') }}" itemprop="datePublished">
          {{ entry.postDate|date('jS F Y') }}
        </time>
      </div>

      {% include '_includes/pagecontentsections' %}
    </article>

    <aside class="box box--grey">
      <h2 >Other Notes</h2>
      <ul class="listing-notes">
        {% set notes = craft.entries.section('entries').type('notes').id('not ' ~ entry.id).limit('3') %}
        {% for note in notes %}
          <li class="listing-notes__item">
            <div class="listing-notes__heading">
              <h3>
                <a href="{{ note.url }}">
                  {{ note.title|title|ucwords }}
                </a>
              </h3>
              <time datetime="{{ note.postDate|date('Y-m-d') }}" itemprop="datePublished">
                {{ note.postDate|date('jS F Y') }}
              </time>
            </div>
          </li>
        {% endfor %}
      </ul>
      <a class="btn btn--secondary" href="/notes">View all notes</a>
    </aside>
  {% endif %}
  {# /note detail #}

{% endblock %}
