@charset "UTF-8";
/*
Base styles */
/*
==========================================================================
SASS VARIABLES, MIXINS, PLACEHOLDERS
========================================================================== */
/*
Colours */
/*
Font families */
@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato-light-webfont.woff") format("woff"), url("../fonts/lato-light-webfont.ttf") format("truetype");
  /* Android <4.4 */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latolight_italic';
  src: url("../fonts/lato-lightitalic-webfont.woff") format("woff"), url("../fonts/lato-lightitalic-webfont.ttf") format("truetype");
  /* Android <4.4 */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lato_regular';
  src: url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype");
  /* Android <4.4 */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lato_italic';
  src: url("../fonts/lato-italic-webfont.woff") format("woff"), url("../fonts/lato-italic-webfont.ttf") format("truetype");
  /* Android <4.4 */
  font-weight: normal;
  font-style: normal; }
/*
REM mixin
Adapted from https://github.com/bitmanic/rem/blob/master/stylesheets/_rem.scss
rem(font-size, 28px) will return:
font-size: 28px;
font-size: 1.75rem; */
/*
Media query mixin
Adapted from http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
Examples:
@include media-query(min, 704px) {}
@include media-query(max, 704px) {}
@include media-query(min-max, 360px, 859px) {} */
/*
Breakpoints (converted to ems with media query mixin) */
/*
Reverse visuallyhidden mixin
reverses the .visuallyhidden helper class properties */
/*
Hover states mixin */
/*
Clearfix Placeholder */
/*
Short line */
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/* CUSTOMISED */
/*
Prevent iOS text size adjust after orientation change, without disabling
*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/*
Forcing a scroll bar to prevent page jumps on short pages
*/
html {
  height: 100%;
  width: 100%;
  overflow-y: scroll; }

/*
Remove default body margin
*/
body {
  margin: 0; }

/*
Correct `block` display not defined in IE 8/9.
*/
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/*
`[hidden]` styling not present in IE 8/9.
*/
[hidden] {
  display: none; }

/* Text-level elements
   ========================================================================== *

/*
Remove top margins for headings and paragraphs
*/
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

/*
Remove the grey background color from active links in IE 10.
 */
a {
  background: transparent; }

/*
ABBR styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
*/
b,
strong {
  font-weight: bold; }

/*
Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/*
Set consistent quote types.
*/
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
Address differences between Firefox and other browsers.
*/
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/*
Address odd `em`-unit font size rendering in all browsers.
*/
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
Improve readability of pre-formatted text in all browsers.
Contain overflow in all browsers.
*/
pre {
  white-space: pre-wrap;
  overflow: auto; }

/*
Nav lists
*/
nav ul {
  margin: 0;
  padding: 0; }

nav ul li {
  list-style: none; }

/* Embedded content
   ========================================================================== */
img {
  -ms-interpolation-mode: bicubic;
  /* improve image quality when scaled in IE 7 */
  vertical-align: middle;
  /* remove gap between images and the bottom of their containers */
  border: 0;
  /* Remove border when inside `a` element in IE 8/9 */ }

/*
Correct `inline-block` display not defined in IE 8/9.
*/
audio, canvas, video {
  display: inline-block; }

/*
Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline; }

/*
Prevent modern browsers from displaying `audio` without controls.
Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/* Forms
   ========================================================================== */
legend {
  border: 0;
  padding: 0; }

/*
Remove any webkit styling from fields
*/
input[type="text"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

input[type="search"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

input[type="email"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

input[type="password"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

/*
1. Correct color not being inherited. Known issue: affects color of disabled elements.
2. Correct font properties not being inherited.
3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
4. Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet
*/
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  line-height: normal;
  /* 4 */ }

/*
Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible; }

/*
Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
1. Address box sizing set to `content-box` in IE 8/9
2. Remove excess padding in IE 8/9
*/
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
Fix the cursor style for Chrome's increment/decrement buttons.
For certain `font-size` values of the `input`, it causes the cursor style of the
decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/*
1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  /* 2 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/*
1. Remove default vertical scrollbar in IE 8/9.
2. Improve readability and alignment in all browsers
*/
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/*
==========================================================================
HELPER CLASSES
========================================================================== */
/*  hide element visually, but have it available for screenreaders - http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  clip: rect(0 0 0 0); }

/*
==========================================================================
TYPOGRAPHY
========================================================================== */
body {
  font: 100%/1.375em "latolight", "HelveticaLight", "Helvetica-Light", "Helvetica Light", Helvetica, Arial, sans-serif;
  /* 16px/22px */
  color: #334D5C;
  /* Nicer text rendering in webkit */
  -webkit-font-smoothing: antialiased;
  /* preventing text size adjustment on iOS without disabling zoom */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }
  @media only screen and (min-width: 43.75em) {
    body {
      font: 112.5%/1.4444em "latolight", "HelveticaLight", "Helvetica-Light", "Helvetica Light", Helvetica, Arial, sans-serif;
      /* 18px/26px */ } }

.wf-inactive body {
  font-family: 'HelveticaLight', 'Helvetica-Light', 'Helvetica Light', Helvetica, Arial, sans-serif; }

/*=====*/
h1, .heading_h1,
h2, .heading_h2, .siteheader__heading,
h3, .heading_h3,
h4, h5, h6, .heading_h4, .heading_h5, .heading_h6 {
  font-family: "lato_regular", "HelveticaNeue", "Helvetica Neue", "Arial", sans-serif;
  font-weight: normal;
  letter-spacing: -0.5px;
  letter-spacing: -0.03125rem; }

h1, .heading_h1 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 30px;
  line-height: 1.875rem;
  margin-bottom: 16px;
  margin-bottom: 1rem; }
  @media only screen and (min-width: 43.75em) {
    h1, .heading_h1 {
      font-size: 36px;
      font-size: 2.25rem;
      line-height: 40px;
      line-height: 2.5rem; } }

h2, .heading_h2, .siteheader__heading {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 30px;
  line-height: 1.875rem;
  margin-bottom: 4px;
  margin-bottom: 0.25rem; }
  p + h2, p + .heading_h2, p + .siteheader__heading {
    margin-top: 24px;
    margin-top: 1.5rem; }

h3, .heading_h3 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-bottom: 4px;
  margin-bottom: 0.25rem; }

h4, h5, h6, .heading_h4, .heading_h5, .heading_h6 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-bottom: 4px;
  margin-bottom: 0.25rem; }

/*=====*/
p {
  margin-bottom: 16px;
  margin-bottom: 1rem; }

em {
  font-family: "latolight_italic", "HelveticaNeueLightItalic", "HelveticaNeue-Light-Italic", "Helvetica Neue Light Italic", "Arial Italic", sans-serif;
  font-style: normal; }

strong, b {
  font-family: "lato_regular", "HelveticaNeue", "Helvetica Neue", "Arial", sans-serif;
  font-weight: normal; }

small {
  font-size: 80%;
  line-height: 1.2em; }

time {
  display: block;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  color: #70828A; }
  h1 + time {
    margin-top: -8px;
    margin-top: -0.5rem; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

hr {
  height: 0;
  border: 0;
  border-top: 1px dotted;
  margin: 0;
  margin: 15px 0 15px 0;
  margin: 0.9375rem 0 0.9375rem 0; }

::-moz-selection {
  background: rgba(246, 203, 81, 0.6); }

::selection {
  background: rgba(246, 203, 81, 0.6); }

/*====
Links
====*/
a,
.link,
html.touch a[href^='tel'] {
  background-image: url("../img/underline-orange.png");
  background-repeat: repeat-x;
  background-position: 0 98%;
  color: #E27A3F;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  a:hover, a:focus, a:active,
  .link:hover,
  html.touch a[href^='tel']:hover,
  .link:focus,
  html.touch a[href^='tel']:focus,
  .link:active,
  html.touch a[href^='tel']:active {
    color: #23A38F;
    background-image: url("../img/underline-teal.png"); }

a:visited {
  color: #23A38F; }

a[href^='tel'] {
  pointer-events: none;
  background: none; }
  a[href^='tel']:after {
    display: none; }
  html.touch a[href^='tel'] {
    pointer-events: auto; }

/*====
Quotes
====*/
q {
  font-family: "latolight_italic", "HelveticaNeueLightItalic", "HelveticaNeue-Light-Italic", "Helvetica Neue Light Italic", "Arial Italic", sans-serif; }

blockquote {
  margin: 0 0 24px;
  margin: 0 0 1.5rem;
  color: #23A38F; }

blockquote p {
  font-family: "lato_italic", "HelveticaNeueItalic", "HelveticaNeue-Italic", "Helvetica Neue Italic", "Arial", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 28px;
  line-height: 1.75rem;
  margin-bottom: 4px;
  margin-bottom: 0.25rem; }
  blockquote p:before {
    content: '“'; }
  @media only screen and (min-width: 43.75em) {
    blockquote p {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 30px;
      line-height: 1.875rem; } }

blockquote cite {
  display: block;
  font-weight: normal;
  font-style: normal; }
  blockquote cite:after {
    content: '\A';
    white-space: pre; }
  blockquote cite + a {
    margin-top: 8px;
    margin-top: 0.5rem;
    font-family: "lato_regular", "HelveticaNeue", "Helvetica Neue", "Arial", sans-serif; }

blockquote footer a {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  background-image: url("../img/underline-teal.png");
  color: #23A38F; }
  blockquote footer a:hover, blockquote footer a:focus, blockquote footer a:active {
    color: #E27A3F;
    background-image: url("../img/underline-orange.png"); }

/*====
Lists
====*/
ul {
  margin-left: 0;
  padding-left: 20px;
  padding-left: 1.25rem;
  margin: 8px 0 24px;
  margin: 0.5rem 0 1.5rem; }

ol {
  margin-left: 0;
  padding-left: 22px;
  padding-left: 1.375rem;
  margin: 8px 0 24px;
  margin: 0.5rem 0 1.5rem; }

ul ul,
ol ol {
  margin-bottom: 0; }

ul li {
  list-style-type: disc;
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }

ol li {
  list-style-type: decimal;
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }

ul.no-bull, ul.listing-notes, .listing-projects,
ol.no-bull,
ol.listing-notes {
  padding-left: 0; }
  ul.no-bull li, ul.listing-notes li, .listing-projects li,
  ol.no-bull li,
  ol.listing-notes li {
    list-style: none; }

ul.inline li,
ol.inline li {
  display: inline-block;
  *display: inline;
  zoom: 1; }

dt {
  font-family: "lato_regular", "HelveticaNeue", "Helvetica Neue", "Arial", sans-serif;
  font-weight: normal; }

dd {
  margin-left: 0;
  margin-bottom: 4px;
  margin-bottom: 0.25rem; }

/*
Components */
@media only screen and (min-width: 43.75em) {
  .backtotop {
    display: none; } }
html.no-js .backtotop {
  display: none; }

.backtotop__btn {
  padding: 0;
  background: none;
  border: none;
  font-size: 16px;
  font-size: 1rem;
  color: #334D5C; }
  .backtotop__btn:hover, .backtotop__btn:focus, .backtotop__btn:active {
    cursor: pointer;
    background: none;
    color: #23A38F; }

.box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px 16px 20px;
  padding: 1rem 1rem 1.25rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  border-width: 4px;
  border-image: none;
  border-top-style: solid;
  background: white;
  background-repeat: repeat-x; }
  @media only screen and (min-width: 30em) {
    .box {
      margin-bottom: 24px;
      margin-bottom: 1.5rem; } }
  .box > *:last-child {
    margin-bottom: 0; }
  .box.siteheader {
    border-width: 4px; }

.box--teal {
  border-color: #23A38F; }

.box--grey {
  border-color: #334D5C; }

.box--orange {
  border-color: #E27A3F; }

.box--green {
  border-color: #B7C11E; }

.btn {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  margin: 0 8px 8px 0;
  margin: 0 0.5rem 0.5rem 0;
  padding: 4px 24px;
  padding: 0.25rem 1.5rem;
  border-radius: 8px;
  border-radius: 0.5rem;
  border: 2px solid #B7C11E;
  background-color: #B7C11E;
  background-image: none;
  font-size: 16px;
  font-size: 1rem;
  font-family: "lato_regular", "HelveticaNeue", "Helvetica Neue", "Arial", sans-serif;
  font-weight: normal;
  color: #FFFFFA;
  text-transform: uppercase;
  text-align: center; }
  .btn:visited {
    color: #FFFFFA; }
  .btn:hover, .btn:focus, .btn:active {
    background-image: none;
    background-color: #23A38F;
    border-color: #23A38F;
    color: #FFFFFA; }

.btn--secondary {
  background-color: transparent;
  border-color: #334D5C;
  color: #334D5C; }
  .btn--secondary:visited {
    color: #334D5C; }
  .btn--secondary:hover, .btn--secondary:focus, .btn--secondary:active {
    color: #FFFFFA;
    border-color: #23A38F; }

.callout {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem; }
  .callout p {
    margin-bottom: 8px;
    margin-bottom: 0.5rem; }

.callout__heading {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  color: #E27A3F; }

.callout__link {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  margin-bottom: 6px;
  margin-bottom: 0.375rem; }

/* 
==========================================================================
FORMS
========================================================================== */
label {
  display: block; }

input,
textarea {
  outline: none; }

textarea {
  resize: vertical;
  /* only allow vertical resizing */ }

/* Placeholders */
::-webkit-input-placeholder {
  color: #999;
  font-style: italic; }

::-moz-placeholder {
  color: #999;
  font-style: italic; }

/* Firefox 4 to 18 */
:-moz-placeholder {
  color: #999;
  font-style: italic; }

/* Firefox 19+ */
:-ms-input-placeholder {
  color: #999;
  font-style: italic; }

/*Internet Explorer 10+ */
::input-placeholder {
  color: #999;
  font-style: italic; }

/* remove placeholder on input focus - http://adactio.com/journal/6147/ */
[placeholder]:focus::-webkit-input-placeholder {
  color: transparent; }

[placeholder]:focus::-moz-placeholder {
  color: transparent; }

[placeholder]:focus:-moz-placeholder {
  color: transparent; }

[placeholder]:focus:-ms-input-placeholder {
  color: transparent; }

[placeholder]:focus::input-placeholder {
  color: transparent; }

.icons-strip {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  text-align: center; }
  @media only screen and (max-width: 19.9375em) {
    .icons-strip {
      display: none; } }
  @media only screen and (min-width: 60em) {
    .icons-strip {
      margin-bottom: 32px;
      margin-bottom: 2rem; } }
  .icons-strip .icon {
    margin: 0 4px;
    margin: 0 0.25rem;
    -webkit-animation-name: grow;
    -moz-animation-name: grow;
    animation-name: grow;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    html.cssanimations .icons-strip .icon {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }
    @media only screen and (min-width: 30em) {
      .icons-strip .icon {
        margin: 0 16px;
        margin: 0 1rem; } }
    @media only screen and (min-width: 75em) {
      .icons-strip .icon {
        margin: 0 24px;
        margin: 0 1.5rem; } }
  .icons-strip .icon--xlarge {
    margin-bottom: -8px;
    margin-bottom: -0.5rem; }
    @media only screen and (min-width: 43.75em) {
      .icons-strip .icon--xlarge {
        margin-bottom: -32px;
        margin-bottom: -2rem; } }
  .icons-strip .icon--heart {
    -webkit-animation-name: beat;
    -moz-animation-name: beat;
    animation-name: beat;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s; }

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes grow {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes grow {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes grow {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  60% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  80% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes beat {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  60% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  80% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes beat {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  60% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  80% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes beat {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  60% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  80% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
html.svg .icon {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 32px;
  width: 2rem;
  height: 32px;
  height: 2rem;
  background-image: url("../img/icons.svg");
  background-repeat: no-repeat;
  speak: none; }
html.svg .icon--large {
  width: 40px;
  width: 2.5rem;
  height: 40px;
  height: 2.5rem;
  -webkit-background-size: 35px auto;
  background-size: 35px auto; }
  @media only screen and (min-width: 43.75em) {
    html.svg .icon--large {
      width: 70px;
      width: 4.375rem;
      height: 70px;
      height: 4.375rem;
      -webkit-background-size: 65px auto;
      background-size: 65px auto; } }
html.svg .icon--xlarge {
  width: 55px;
  width: 3.4375rem;
  height: 55px;
  height: 3.4375rem;
  background-size: 53px auto; }
  @media only screen and (min-width: 43.75em) {
    html.svg .icon--xlarge {
      width: 120px;
      width: 7.5rem;
      height: 120px;
      height: 7.5rem;
      -webkit-background-size: 115px auto;
      background-size: 115px auto; } }
html.svg .icon--heart {
  background-position: center 0; }
html.svg .icon--heart--orange {
  background-position: center 10.81081%; }
html.svg .icon--heart--green {
  background-position: center 22.16216%; }
html.svg .icon--heart--teal {
  background-position: center 33.51351%; }
html.svg .icon--heart--grey {
  background-position: center 44.32432%; }
html.svg .icon--wayfinder {
  background-position: center 55.94595%; }
html.svg .icon--speed {
  background-position: center 68.64865%; }
html.svg .icon--smile {
  background-position: center 80.81081%; }
html.svg .icon--mobile {
  background-position: center 93.24324%; }
html.svg .icon--arrow-up {
  width: 16px;
  width: 1rem;
  height: 16px;
  height: 1rem;
  background-position: left 99.45946%; }

.listing-notes {
  margin-top: 0; }
  aside .listing-notes {
    margin-top: 16px;
    margin-top: 1rem; }

.listing-notes__item {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #C3C9CD; }

.listing-notes__heading a {
  background: none;
  color: #334D5C; }
  .listing-notes__heading a:hover, .listing-notes__heading a:focus, .listing-notes__heading a:active {
    color: #23A38F; }

.listing-notes__heading time {
  margin-bottom: 4px;
  margin-bottom: 0.25rem;
  font-size: 16px;
  font-size: 1rem; }
  aside .listing-notes__heading time {
    margin-bottom: 0; }

.listing-notes__text {
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }
  .listing-notes__text p {
    margin-bottom: 0; }

.listing-projects {
  margin-top: 16px;
  margin-top: 1rem;
  margin-bottom: 0; }
  @media only screen and (min-width: 30em) {
    html.flexbox .listing-projects {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: justify; } }

.listing-projects__item {
  position: relative;
  background-color: white;
  text-align: left; }
  @media only screen and (min-width: 30em) {
    html.flexbox .listing-projects__item {
      margin-bottom: 24px;
      margin-bottom: 1.5rem;
      width: 48%; } }

.listing-projects__item__link {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 100%;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  margin-bottom: 0;
  color: #23A38F;
  background: none; }
  .listing-projects__item__link:hover, .listing-projects__item__link:focus, .listing-projects__item__link:active {
    color: #E27A3F;
    border-color: #E27A3F;
    background: none; }
  .listing-projects__item__link:visited {
    color: #70828A;
    border-color: #70828A; }

.listing-projects__img {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  width: 100%; }
  @media only screen and (min-width: 43.75em) {
    .listing-projects__img {
      padding: 0; } }

.listing-projects__heading {
  max-width: 408px;
  max-width: 25.5rem;
  margin-bottom: 0;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem;
  text-transform: none; }

.listing-projects__time {
  margin-bottom: 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1; }

figure {
  margin: 0;
  margin: 0 0 24px;
  margin: 0 0 1.5rem;
  background: white; }

figcaption {
  margin-top: -8px;
  margin-top: -0.5rem;
  padding-top: 16px;
  padding-top: 1rem;
  font-size: 16px;
  font-size: 1rem;
  font-family: "latolight_italic", "HelveticaNeueLightItalic", "HelveticaNeue-Light-Italic", "Helvetica Neue Light Italic", "Arial Italic", sans-serif; }
  figcaption p {
    margin-bottom: 0; }

img {
  max-width: 100%;
  height: auto; }

/*
Linked images */
a:hover img,
a:focus img,
a:active img {
  opacity: 0.8; }

/*
Responsive video */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  padding-top: 1.875rem;
  height: 0;
  overflow: hidden; }

.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.siteheader {
  position: relative; }

.siteheader__heading {
  text-transform: uppercase;
  color: #23A38F; }
  .siteheader__heading a {
    background: none;
    color: #23A38F; }
    .siteheader__heading a:hover, .siteheader__heading a:focus, .siteheader__heading a:active {
      color: #E27A3F; }

.siteheader__tagline {
  margin-bottom: 0;
  max-width: 272px;
  max-width: 17rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.25rem;
  color: #334D5C; }

.siteheader__nav {
  margin-top: 16px;
  margin-top: 1rem;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem; }
  @media only screen and (min-width: 43.75em) {
    .siteheader__nav {
      position: absolute;
      right: 4px;
      right: 0.25rem;
      top: 0; } }
  @media only screen and (min-width: 60em) {
    .siteheader__nav {
      position: static; } }

.siteheader__nav li {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  margin-right: 12px;
  margin-right: 0.75rem;
  font-weight: normal;
  line-height: 1; }
  @media only screen and (min-width: 60em) {
    .siteheader__nav li {
      display: block;
      margin-bottom: 16px;
      margin-bottom: 1rem; }
      .siteheader__nav li:last-child {
        margin-bottom: 0; } }

.siteheader__nav a {
  display: block;
  background: none;
  color: #334D5C; }
  .siteheader__nav a:hover, .siteheader__nav a:focus, .siteheader__nav a:active {
    color: #E27A3F; }
  @media only screen and (min-width: 60em) {
    .siteheader__nav a {
      display: block;
      padding-bottom: 8px;
      padding-bottom: 0.5rem;
      border-bottom: 1px dotted; } }

.siteheader__nav .current {
  color: #23A38F;
  font-family: "lato_regular", "HelveticaNeue", "Helvetica Neue", "Arial", sans-serif; }
  @media only screen and (min-width: 60em) {
    .siteheader__nav .current {
      border-bottom-style: solid;
      border-bottom-width: 2px; } }

table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse; }

th {
  padding-left: 1em;
  border-bottom: 1px solid #888;
  font-family: "lato_regular", "HelveticaNeue", "Helvetica Neue", "Arial", sans-serif;
  font-weight: normal;
  text-align: left;
  vertical-align: top; }

td {
  padding-left: 1em;
  border-bottom: 1px solid #888;
  vertical-align: top; }

th:first-child,
td:first-child {
  padding-left: 0; }

/*
Pages */
/*
==========================================================================
PAGE
========================================================================== */
html {
  background: url("/assets/img/bg-pattern.png") repeat; }

body {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  max-width: 712px;
  max-width: 44.5rem; }
  @media only screen and (min-width: 30em) {
    body {
      padding-left: 8px;
      padding-left: 0.5rem;
      padding-right: 8px;
      padding-right: 0.5rem; } }

@media only screen and (min-width: 60em) {
  body {
    width: auto;
    max-width: 1192px;
    max-width: 74.5rem;
    margin-top: 24px;
    margin-top: 1.5rem; }

  .siteheader,
  .callout {
    float: left;
    width: 26.84564%;
    margin-left: 2.01342%; }

  .page {
    float: right;
    width: 67.11409%;
    margin-right: 2.01342%; } }
.page__intro {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 30px;
  line-height: 1.875rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  color: #B7C11E; }
  @media only screen and (min-width: 43.75em) {
    .page__intro {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 34px;
      line-height: 2.125rem; } }
  .page__intro p {
    margin-bottom: 0; }

.page__intro--center {
  text-align: center; }

.page__code code {
  margin-bottom: -16px;
  margin-bottom: -1rem; }

/* ===
Page specific */
.page--about__img {
  display: block;
  width: 100px;
  width: 6.25rem;
  margin: 0 auto 16px;
  margin: 0 auto 1rem;
  border-radius: 100%;
  border: 2px solid #B7C11E; }
  @media only screen and (min-width: 43.75em) {
    .page--about__img {
      width: 140px;
      width: 8.75rem; } }

.page--contact {
  text-align: center; }

/*
Prism */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code,
pre[class*="language-"] {
  color: #334D5C;
  text-shadow: 0 1px white;
  font-family: 'Source Code Pro', Consolas, Monaco, 'Andale Mono', monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }
/* Code blocks */
pre[class*="language-"] {
  padding: 1em 16px;
  margin-bottom: 1em;
  margin-left: -16px;
  margin-right: -16px;
  overflow: auto; }

pre[class*="language-"] code {
  display: block;
  margin-top: -1.5rem; }

:not(pre) > code,
pre[class*="language-"] {
  background: #FEF9EC; }

/* Inline code */
:not(pre) > code {
  padding: 0 .2em;
  color: #23A38F; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #334D5C; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #E27A3F; }

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #E27A3F;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #23A38F; }

.token.regex,
.token.important {
  color: #e90; }

.token.important {
  font-weight: bold; }

.token.entity {
  cursor: help; }

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber; }

pre.line-numbers > code {
  position: relative; }

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right; }

/*
Print */
/*
==========================================================================
PRINT
==========================================================================
*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  thead {
    display: table-header-group;
    /* repeats table header on each page - h5bp.com/t */ }

  tr,
  img,
  .callout {
    page-break-inside: avoid; }

  .listing-projects__img {
    max-width: 400px; }

  .page a {
    text-decoration: underline; }

  nav,
  .icons-strip,
  .backtotop {
    display: none !important; } }
