{% for block in entry.pageContentSections %}

  {% if block.type == 'sectionTitle' %}

    <h2 >{{ block.sectionTitle }}</h2>

  {% elseif block.type == 'sectionImage' %}

    {% for image in block.image %}
      <figure class="page__media">
        <img src="{{ image.url }}" alt="{{ block.imageAlt }}">
        {% if block.imageCaption %}
          <figcaption>
            {{ block.imageCaption }}
          </figcaption>
        {% endif %}
      </figure>
    {% endfor %}

    {% if block.remoteImage %}
      <figure class="page__media">
        <img src="{{ block.remoteImage }}" alt="{{ block.imageAlt }}">
        {% if block.imageCaption %}
          <figcaption>
            {{ block.imageCaption }}
          </figcaption>
        {% endif %}
      </figure>
    {% endif %}

  {% elseif block.type == 'sectionCodeSnippet' %}

    <pre class="page__code"><code class="{{ block.codeType }}">
{{ block.codeSnippet }}
    </code></pre>

  {% elseif block.type == 'sectionQuote' %}

    <blockquote>
      {{ block.quoteText }}
      {% if block.quoteSource %}
        <footer>
          <cite>{{ block.quoteSource }}</cite>
        </footer>
      {% endif %}
    </blockquote>

  {% elseif block.type == 'sectionText' %}

    {{ block.text }}

  {% endif %}

{% endfor %}
