<section id="prev-next" data-section-child>
  <h1>Prev/Next Links</h1>
  <small class="note">03modules/prev-next.scss</small>

  <div class="prev-next">
    <a class="prev-next__link" href="">
      <i class="icon icon--arrow-left" aria-hidden="true"></i>
      <span class="sr-only">Previous project: </span>Department Store for the Mind
    </a>
    <a class="prev-next__link prev-next__link--next" href="">
      <span class="sr-only">Next project: </span>Totally Thames
      <i class="icon icon--arrow-right" aria-hidden="true"></i>
    </a>
  </div>

<pre><code class="language-markup">
{% set entries = craft.entries.section('projects') %}
{% set prevEntry = entry.getPrev(entries) %}
{% set nextEntry = entry.getNext(entries) %}
&lt;div class="prev-next">
  {% if prevEntry %}
    &lt;a class="prev-next__link" href="">
      &lt;i class="icon icon--arrow-left" aria-hidden="true">&lt;/i>
      &lt;span class="sr-only">Previous project: &lt;/span>{{ prevEntry.title }}
    &lt;/a>
  {% endif %}
  {% if nextEntry %}
    &lt;a class="prev-next__link prev-next__link--next" href="">
      &lt;span class="sr-only">Next project: &lt;/span>{{ nextEntry.title }}
      &lt;i class="icon icon--arrow-right" aria-hidden="true">&lt;/i>
    &lt;/a>
  {% endif %}
&lt;/div>
</code></pre>
</section>
