{% spaceless %}
<!doctype html>
<!--[if IE 7 ]> <html class="no-js oldie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]> <html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8" />

  {# For IE, use the latest supported mode, see http://stackoverflow.com/a/6771584 #}
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  {% set metaTitle %}
    {% if pageTitle|default %}
      {{ pageTitle }} | {{ siteName }}
    {% elseif entry.title|default %}
      {% if craft.request.getFirstSegment() %}
        {{ entry.title }} - {{ siteName }}
      {% else %}
        {{ siteName }}
      {% endif %}
    {% endif %}
  {% endset %}

  {% block metaTitle %}
    <title>{% spaceless %}{{ metaTitle }}{% endspaceless %}</title>
  {% endblock %}

  <meta name="description" content="I am a freelance front-end developer based in Hampshire. I transform designs into user-friendly and successful websites." />

  {% block robots %}
    {% if craft.config.devMode %}
      <meta name="robots" content="noindex, nofollow">
    {% else %}
      <meta name="robots" content="/robots.txt" />
    {% endif %}
  {% endblock %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {# Disable skype from styling numbers as skype buttons #}
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

  {# CSS #}
  {% if craft.config.devMode or ('staging' in craft.request.url() ) %}
    <link rel="stylesheet" href="/assets/css/styles.min.css?v{{now|date("Y-m-d-H-i")}}">
  {% else %}
    <link rel="stylesheet" href="/assets/css/styles.min.css?v=1.0">
  {% endif %}
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' >

  {# Icons - https://github.com/audreyr/favicon-cheat-sheet #}
  {# ICO generator: http://www.icoconverter.com #}
  {# IE6-10 #}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48 64x64" href="/favicon.ico">
  {# Everybody else #}
  <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/favicon.ico">
  {# iOS 2.0+ and Android 2.1+ #}
  <link rel="apple-touch-icon" href="/favicon-152.png">
  {# Metro tile #}
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/favicon-144.png">

  <script src="/assets/libs/modernizr.js"></script>

  {# <!--[if lte IE 8 ]>
    <script src="/assets/libs/respond.min.js"></script>
  <![endif]--> #}

  {# adding GA in head to increase likelihood of tracking even if user should leave before page has completely loaded #}
  {% if not craft.config.devMode %}
    <script src="/assets/js/analytics.min.js" async></script>
  {% endif %}
</head>

<body {% if entry is defined %}class="page--{{ entry.slug }}"{% endif %} itemscope itemtype="http://schema.org/WebPage">

  <header class="siteheader" role="banner">
    {% if craft.request.firstSegment %}
      <a class="siteheader__homelink" href="/">
        <img class="siteheader__avatar" src="/assets/images/katrin-kerber.jpg" alt="" role="presentation" aria-hidden="true">
        <h1>Katrin Kerber</h1>
        <h2>Freelance Front-End Developer</h2>
      </a>
    {% else %}
      <img class="siteheader__avatar" src="/assets/images/katrin-kerber.jpg" alt="" role="presentation" aria-hidden="true">
      <h1>Katrin Kerber</h1>
      <h2>Freelance Front-End Developer</h2>
    {% endif %}


    {% set navigation %}
      {% cache globally using key 'mainnav' %}
        <nav class="nav-primary" role="navigation" aria-label="main-navigation">
          <ul class="nav-primary__items">
            {% set pages = craft.entries.section('pages') %}
            {% nav page in pages %}
              <li class="nav-primary__item">
                {# adding the slug in the class allows us to cache the navigation and then replace this class with 'nav-primary__link--current' for the current item #}
                <a class="nav-primary__link slug--{{ page.slug }}" href="{{ page.url }}">
                  {{ page.title }}
                </a>
              </li>
            {% endnav %}
          </ul>
        </nav>
      {% endcache %}
    {% endset %}

    {% if craft.request.firstSegment is empty %}
      {{ navigation|replace({
        ('slug--__home__'): 'nav-primary__link--current'
      })|raw }}
    {% else %}
      {{ navigation|replace({
        ('slug--'~ craft.request.firstSegment): 'nav-primary__link--current'
      })|raw }}
    {% endif %}
  </header>

  <main class="pagecontent" role="main">
    {% block content %}{% endblock %}
  </main>

  <footer class="sitefooter" role="contentinfo">
    <h2 class="sr-only">Get in touch</h2>
    <ul class="sitefooter__links">
      <li class="sitefooter__link">
        <a href="mailto:hello@katrinkerber.com">Email me</a>
      </li>
      <li class="sitefooter__link">
        <a href="https://twitter.com/katrinkerber">Twitter</a>
      </li>
      <li class="sitefooter__link">
        <a href="https://github.com/katrinkerber">GitHub</a>
      </li>
    </ul>
  </footer>

  {% block pageJS %}
  {% endblock %}
</body>

</html>
{% endspaceless %}
