<!DOCTYPE html>
<!--[if lt IE 7 ]>  <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>     <html class="no-js lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>     <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>     <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->  <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="UTF-8" />

  <title>{% if pageTitle is defined %}{{ pageTitle }} - Katrin Kerber{% else %}Katrin Kerber - I build successful and user-friendly websites.{% endif %}</title>
  <meta name="description" content="I am a freelancer based in Petersfield. I work with organisations, individuals and agencies to build successful and user-friendly websites." />
  <meta name="author" content="/humans.txt" />
  <meta name="robots" content="/robots.txt" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <!-- Disable skype from styling numbers as skype buttons - DOES NOT VALIDATE -->
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

  <link rel="stylesheet" href="/assets/css/styles.min.css">

  <!-- Icons - https://github.com/audreyr/favicon-cheat-sheet -->
  <!-- IE6-10 -->
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 64x64" href="/favicon.ico">
  <!-- Everybody else -->
  <link rel="icon" sizes="16x16 24x24 32x32 64x64" href="/favicon.ico">
  <!-- iOS 2.0+ and Android 2.1+ -->
  <link rel="apple-touch-icon-precomposed" href="/favicon-152.png">
  <!-- Metro tile -->
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/favicon-144.png">

  <!-- Open Graph protocol meta tags - http://ogp.me/ -->
  <meta property="og:title" content="{% if pageTitle is defined %}{{ pageTitle }}{% else %}Katrin Kerber - I build websites with love.{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ craft.request.url }}" />
  <meta property="og:image" content="/favicon-152.png" />

  {% if craft.request.firstSegment == '' %}
    <meta name="google-site-verification" content="kMorjArecrMzKj5DaWyOWdrtR5oG5x5yO3QpF63XBIc" />
  {% endif %}

  <!-- Custom Modernizr script, includes some mobile device/OS detection -->
  <script src="/assets/js/libs/modernizr.js" async></script>
  <script src="/assets/js/libs/webfontloader.js" async></script>
  <!-- adding GA in head to increase likelihood of tracking even if user should leave before page has completely loaded -->
  <script src="/assets/js/analytics.js" async></script>
</head>
<body itemscope itemtype="http://schema.org/WebPage" id="top">
  <header class="siteheader box box--teal" role="banner" >
    <h1 class="siteheader__heading">
      {% if craft.request.firstSegment %}
        <a href="/">Katrin Kerber</a>
      {% else %}
        Katrin Kerber
      {% endif %}
    </h1>

    {% if craft.request.firstSegment %}
      <p class="siteheader__tagline">
        I work with organisations, individuals and agencies to build successful and user-friendly websites.
      </p>
    {% endif %}

    <nav class="siteheader__nav" role="navigation">
      <ul>
        {% set nav = [
          { uri: '', title: 'Home' },
          { uri: 'projects', title: 'Projects' },
          { uri: 'about', title: 'About' },
          { uri: 'notes', title: 'Notes' }
        ] %}
        {% for item in nav %}
          {% if loop.first %}
            <li>
              <a {% if craft.request.firstSegment == '' %}class="current"{% endif %} href="/{{ item.uri }}">
                {{ item.title }}
              </a>
            </li>
          {% else %}
            {% set current = (craft.request.firstSegment == item.uri) %}
            <li>
              <a {% if current %}class="current"{% endif %} href="/{{ item.uri }}">
                {{ item.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </header>

  <main class="page {% if craft.request.firstSegment == '' %}page--home{% else %}page--{{ craft.request.firstSegment }}{% endif %}" role="main">
		{% block content %}{% endblock %}
  </main>

  <aside class="callout box box--orange">
    <h2 class="callout__heading">Let’s work together</h2>

    {% if entry.pageCallOut  %}
      {{ entry.pageCallOut }}
    {% else %}
      <p>I am available to work on new projects and would love to hear about yours.</p>
    {% endif %}

    <a class="callout__link" href="mailto:mail@katrinkerber.com">
      mail@katrinkerber.com
    </a>
    <br>
    <a class="callout__link" href="tel:01730301302">
      01730 301 302
    </a>
  </aside>

  <div class="backtotop box box--grey">
    <a class="backtotop__link" href="#top"><i class="icon icon--arrow-up" aria-hidden="true"></i> Back to top</a>
  </div>

  <script src="/assets/js/libs/prism.js"></script>
</body>
</html>
