{% extends "_layout" %}
{% set pageTitle = entry.title|ucwords ~ ' - ' ~ entry.type|ucwords %}

{% block content %}

  {# project detail #}
  {% if entry.type == 'projects' %}
    <article itemscope itemtype="http://schema.org/WebSite">
      <div class="lines-heading">
        <h1 itemprop="name">{{ entry.title|ucwords }}</h1>

        <time datetime="{{ entry.postDate|date('Y-m-d') }}" itemprop="datePublished">
          {{ entry.postDate|date('F Y') }}
        </time>
      </div>

      {% for image in entry.mainImage %}
        <figure class="page__media">
          <img src="{{ image.url }}" alt="Project screenshots" itemprop="image">
        </figure>
      {% endfor %}

      <div class="page__text">
        {{ entry.mainCopy }}

        {% for projectInfo in entry.projectInfo %}
          <h2>{{ projectInfo.sectionTitle|ucwords }}</h2>
          {{ projectInfo.sectionContent }}
        {% endfor %}
      </div>

      {% for projectQuote in entry.quote %}
        <blockquote>
          {{ projectQuote.text }}
          <footer>
            <cite>{{ projectQuote.sourceName }}</cite>
          </footer>
        </blockquote>
      {% endfor %}

      {% if entry.projectUrl %}
        <div class="center-btn">
          <a class="btn" href="{{ entry.projectUrl }}" itemprop="url">Visit site</a>
        </div>
      {% endif %}

      <aside class="page--entries__more">
        <h2 class="lines-heading">Other Projects</h2>

        {% set projects = craft.entries.section('entries').type('projects').id('not ' ~ entry.id).order('RAND()').limit('6') %}
        {% include '_includes/listing-projects' %}

        <div class="center-btn">
          <a class="btn btn--secondary" href="/projects">View all projects</a>
        </div>
      </aside>
    </article>
  {% endif %}
  {# /project detail #}

  {# note detail #}
  {% if entry.type == 'notes' %}
    <article itemscope itemtype="http://schema.org/BlogPosting">
      <div class="lines-heading">
        <h1 itemprop="name">{{ entry.title|ucwords }}</h1>
        <time datetime="{{ entry.postDate|date('Y-m-d') }}" itemprop="datePublished">
          {{ entry.postDate|date('jS F Y') }}
        </time>
      </div>

      {% include '_includes/pagecontentsections' %}
    </article>

    <aside class="page--entries__more">
      <h2 class="lines-heading">Other Notes</h2>
      <ul class="listing-notes">
        {% set notes = craft.entries.section('entries').type('notes').id('not ' ~ entry.id).limit('4') %}
        {% for note in notes %}
          <li class="listing-notes__item">
            <div class="listing-notes__heading">
              <h3>
                <a href="{{ note.url }}">
                  {{ note.title|title|ucwords }}
                </a>
              </h3>
              <time datetime="{{ note.postDate|date('Y-m-d') }}" itemprop="datePublished">
                {{ note.postDate|date('jS F Y') }}
              </time>
            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="center-btn">
        <a class="btn btn--secondary" href="/notes">View all notes</a>
      </div>
    </aside>
  {% endif %}
  {# /note detail #}

{% endblock %}
