body {
  box-sizing: border-box;
  min-height: 100%;
  @include rem(padding, 16px);
  border-width: 6px;
  border-style: solid;
  border-color: $yellow;

  @media screen and (min-width: em(640px)) {
    border-width: 12px;
    @include rem(padding, 24px);

  }
}

.siteheader,
.pagecontent,
.sitefooter {
  @extend .maxwidth980;
}
