.callout {
  @include rem(padding, 32px 0);
  margin-left: auto;
  margin-right: auto;
  @include rem(max-width, 560px);
  text-align: center;
  &:before {
    content: '';
    @extend .icon;
    @extend .icon--heart--green;
  }
}
.callout p {
  @include rem(font-size, 20px);
  @include rem(line-height, 26px);
  @include rem(margin-bottom, 16px);
  color: $green;
  font-family: $fontItalic;

  @include media-query(min, $breakpointMedium) {
    @include rem(font-size, 24px);
    @include rem(line-height, 30px);
  }
}
