.siteheader {
  @include rem(padding, 16px 0);
  @include rem(margin-bottom, 32px);
  background: $teal;
  color: $offwhite;
  text-align: center;
  @include media-query(min, $breakpointMedium) {
    padding: 0;
    @include rem(margin-bottom, 48px);
    background: none;
    color: $greyBlue;
  }
}


.siteheader__header {
  @include rem(font-size, 22px);
  @include rem(line-height, 24px);
  @include rem(margin-bottom, 4px);
  text-transform: uppercase;
  a {
    color: $offwhite;
    background: none;
    @include media-query(min, $breakpointMedium) {
      color: $greyBlue;
      @include hover-states {
        color: $orange;
      }
    }
  }
}
.siteheader__tagline {
  @include rem(font-size, 14px);
  @include rem(line-height, 16px);
  @include media-query(min, $breakpointMedium) {
    color: $greyLight;
  }
}


.siteheader__nav {
  @include rem(padding, 0 16px);
}
.siteheader__nav li {
  @include inline-block;
  font-family: $fontBold;
  font-weight: normal;
  line-height: 1;
  @include media-query(min, 380px) {
    width: 31%;
  }
  @include media-query(min, $breakpointMedium) {
    width: auto;
  }
}
.siteheader__nav a {
  display: block;
  @include rem(padding, 8px);
  background-image: none;
  color: $offwhite;
  @include hover-states {
    background: $yellow;
    color: $greyBlue;
  }
  @include media-query(min, $breakpointMedium) {
    padding: 0;
    @include rem(margin, 0 16px);
    color: $greyBlue;
    @include hover-states {
      background: none;
      color: $orange;
    }
  }
}
.siteheader__nav .current {
  @include rem(padding, 8px);
  background: $offwhite;
  color: $teal;

  @include media-query(min, $breakpointMedium) {
    padding: 0;
    @include rem(margin, 0 16px);
    border-bottom: 2px solid;
    color: $orange;
  }
}
