/*
==========================================================================
TYPOGRAPHY
========================================================================== */

body {
  font: 100%/1.375em $font; /* 16px/22px */
  color: $greyBlue;

   /* Nicer text rendering in webkit */
  -webkit-font-smoothing: antialiased;
  /* preventing text size adjustment on iOS without disabling zoom */
  -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;

  @include media-query(min, $breakpointMedium) {
    font: 125%/1.4em $font; /* 20px/28px */
  }
}

.wf-inactive body {
  font-family: 'HelveticaLight', 'Helvetica-Light', 'Helvetica Light', Helvetica, Arial, sans-serif;;
}


/*=====*/
h1, .heading_h1,
h2, .heading_h2,
h3, .heading_h3,
h4, h5, h6, .heading_h4, .heading_h5, .heading_h6 {
  font-family: $fontBold;
  font-weight: normal;
  text-transform: uppercase;
  @include rem(letter-spacing, -0.5px);
}

h1, .heading_h1 {
  @include rem(font-size, 26px);
  @include rem(line-height, 30px);
  @include rem(margin-bottom, 16px);

  @include media-query(min, $breakpointMedium) {
    @include rem(font-size, 36px);
    @include rem(line-height, 40px);
  }
}
h2, .heading_h2 {
  @include rem(font-size, 24px);
  @include rem(line-height, 30px);
  @include rem(margin-bottom, 4px);

  p + & {
    @include rem(margin-top, 24px);
  }
}
h3, .heading_h3 {
  @include rem(font-size, 20px);
  @include rem(line-height, 26px);
  @include rem(margin-bottom, 4px);
}
h4, h5, h6, .heading_h4, .heading_h5, .heading_h6 {
  @include rem(font-size, 18px);
  @include rem(line-height, 26px);
  @include rem(margin-bottom, 4px);
}

/*=====*/

p {
  @include rem(margin-bottom, 16px);
}

em {
  font-family: $fontItalic;
  font-style: normal;
}

strong, b {
  font-family: $fontBold;
  font-weight: normal;
}

small {
  font-size: 80%;
  line-height: 1.2em;
}

time {
  display: block;
  @include rem(margin-bottom, 16px);
  color: $greyLight;
}

sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

hr {
  height: 0;
  border: 0;
  border-top: 1px dotted;
  margin: 0;
  @include rem(margin, 15px 0 15px 0);
}

::-moz-selection {
  background: transparentize($yellow, 0.4);
}
::selection {
  background: transparentize($yellow, 0.4);
}

/*====
Links
====*/
a,
.link {
  background-image: url('../img/underline-orange.png');
  background-repeat: repeat-x;
  background-position: 0 98%;

  color: $orange;
  text-decoration:none;
  @include transition (all 0.3s);

  @include hover-states {
    color: $teal;
    background-image: url('../img/underline-teal.png');
  }
}
a:visited {
  color: $teal;
}

a[href^='tel'] {
  pointer-events: none;
  background: none;

  &:after {
    display: none;
  }

  html.touch & {
    pointer-events: auto;
    @extend .link;
  }
}

/*====
Quotes
====*/

q {
  font-family: $fontItalic;
}

blockquote {
  @include rem(margin, 0 0 24px);
  color: $teal;
}
blockquote p {
  font-family: $fontBoldItalic;
  @include rem(font-size, 20px);
  @include rem(line-height, 28px);
  @include rem(margin-bottom, 4px);

  &:before {
    content: '“';
  }

  @include media-query(min, $breakpointMedium) {
    @include rem(font-size, 24px);
    @include rem(line-height, 30px);
  }
}
blockquote cite {
  display: block;
  font-weight: normal;
  font-style: normal;
  &:after {
   content: '\A';
   white-space: pre;
  }

  + a {
    @include rem(margin-top, 8px);
    font-family: $fontBold;
  }
}
blockquote footer a {
  @include inline-block;
  background-image: url('../img/underline-teal.png');
  color: $teal;
  @include hover-states {
    color: $orange;
    background-image: url('../img/underline-orange.png');
  }
}


/*====
Lists
====*/
ul {
  margin-left: 0;
  @include rem(padding-left, 20px);
  @include rem(margin, 8px 0 24px);
}
ol {
  margin-left: 0;
  @include rem(padding-left, 22px);
  @include rem(margin, 8px 0 24px);
}
ul ul,
ol ol {
  margin-bottom: 0;
}
ul li {
  list-style-type: disc;
  @include rem(margin-bottom, 8px);
}
ol li {
  list-style-type: decimal;
  @include rem(margin-bottom, 8px);
}

ul.no-bull,
ol.no-bull {
  padding-left: 0;
  li {
    list-style: none;
  }
}

ul.inline li,
ol.inline li {
  display: inline-block;
  *display: inline;
  zoom:1;
}

dl {  }
dt {
  font-family: $fontBold;
  font-weight: normal;
}
dd {
  margin-left: 0;
  @include rem(margin-bottom, 4px);
}
