<h1 class="visuallyhidden">{{ title }}</h1>
<div class="colwrapper">
  <p class="availability"><i aria-hidden="true" class="icon-star-fill yellow"></i> {{ availability }}</p>

  <p class="lead d-offset-1 d-col-10">{{ page_lead }}</p>
  
  <h2 class="float col-3 d-offset-1">
    <i aria-hidden="true" class="icon-email chocolate"></i>
    <i aria-hidden="true" class="icon-comment redFaded"></i> 
    <span class="visuallyhidden">Contact options</span>
  </h2>
  <ul class="unstyled float">
    <li>
      <h3 class="faux_h2">Email</h3>
      <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>
    </li>
    <li>
      <h3 class="faux_h2">Phone</h3>
      +44 (0)1730 300 415
    </li>
    <li>
      <h3 class="faux_h2">Twitter</h3>
      <a href="http://twitter.com/katrinkerber">katrinkerber</a>
    </li>
  </ul>
</div> <!-- end colwrapper -->
