<h1 class="visuallyhidden">{{ title }}</h1>
<div class="colwrapper">
  <p class="availability"><i aria-hidden="true" class="icon-star-fill yellow"></i> {{ availability }}</p>

  <p class="lead d-offset-1 d-col-10">{{ page_lead }}</p>
  
  <h2 class="float col-3 d-offset-1">
    <i aria-hidden="true" class="icon-email chocolate"></i>
    <i aria-hidden="true" class="icon-comment yellow"></i> 
    <span class="visuallyhidden">Contact options</span>
  </h2>
  <ul class="unstyled float">
    <li>
      <h3 class="faux_h2">Email</h3>
      <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>
    </li>
    <li>
      <h3 class="faux_h2">Skype</h3>
      katrinkerber
    </li>
    <li>
      <h3 class="faux_h2">Phone</h3>
      +44 (0)1483 829 471
    </li>
    <li>
      <h3 class="faux_h2">Twitter</h3>
      <a href="http://twitter.com/katrinkerber">katrinkerber</a>
    </li>
  </ul>
  
  <p class="clear offset-3 d-offset-4 d-col-6">Despite spending many hours in the internet world, I do like a good 'old fashioned', real life banter. If you would like to meet for a cuppa and a chat, do drop by* at:</p>

  <h2 class="float col-3 d-offset-1">
    <i aria-hidden="true" class="icon-map teal"></i>
    <i aria-hidden="true" class="icon-location redFaded"></i> 
    <span class="visuallyhidden">Address</span>
  </h2>

  <p class="d-col-6">
    25 Rydens Way <br>
    Woking <br>
    GU22 9DD
  </p>
  
  <p class="offset-3 d-offset-4 d-col-6"><small>* let me know beforehand, of course, so I can make sure I am stocked up with tea and biscuits.</small></p>
</div> <!-- end colwrapper -->
