<channel>

<title><![CDATA[{{ folder }}]]></title>
<link>{{ _site_url }}/{{ folder }}</link>
<description>{{ _site_name }} {{ folder }}</description>
<dc:language>en-gb</dc:language>
<dc:creator>{{ contact_email }}</dc:creator>
<dc:rights>Copyright {{ current_date format='Y' }}</dc:rights>
<dc:date>{{ current_date format="Y-m-d\TH:i:s\Z" }}</dc:date>
<admin:generatorAgent rdf:resource="http://statamic.com/" />

{{ entries:listing folder="notes" limit="10" }}
<item>
  <title><![CDATA[{{ title }}]]></title>
  <link>{{ _site_url }}{{ url }}</link>
  <guid>{{ _site_url }}{{ url }}</guid>
  <description><![CDATA[{{ content }}]]></description>
  <dc:date>{{ date format="Y-m-d\TH:i:s\Z" }}</dc:date>
</item>
{{ /entries:listing }}

</channel>
