<h1 class="visuallyhidden">
  <i aria-hidden="true" class="icon-document yellow"></i><i aria-hidden="true" class="icon-pen red"></i>
  <br>
  {{ title }}
</h1>

<div class="colwrapper">
  <p class="lead col-10 d-offset-1 d-col-8">{{ page_lead }}</p>

  {{ entries:listing folder="notes" limit="6" }}
    {{ switch between='<div class="row clear clearfix">|' }}
      <article class="d-offset-1 d-col-5 clearfix">
        <h2><a href="{{ url }}" title="Read whole note">{{ title }}</a></h2>
        <time datetime="{{ datestamp format='Y-m-j' }}">{{ datestamp format="jS F Y" }}</time>
        <p>{{ truncate:words limit="42" ending="&hellip;" }}{ excerpt }{{ /truncate:words }}</p>
        <a href="{{ url }}" class="continue">Continue reading <i aria-hidden="true" class="icon-chevron-right right"></i></a>
      </article>
    {{ switch between='|</div>' }}
  {{ /entries:listing }}

  
  {{ entries:pagination folder="notes" limit="6"}}
    {{ if total_items > 6 }}
    <div class="pagination">
      {{ if previous_page }}
      <a href="{{ previous_page }}"><i aria-hidden="true" class="icon-chevron-left"></i>Previous</a>
      {{ endif }}
     
      <span>Page {{ current_page }} of {{ total_pages }}</span>
      
      {{ if next_page }}
      <a href="{{ next_page }}">Next <i aria-hidden="true" class="icon-chevron-right right"></i></a>
      {{ endif }}
    </div>
    {{ endif }}
  {{ /entries:pagination }}
</div>
