<h1 class="visuallyhidden">{{ title }}</h1>
<div class="colwrapper">
  <p class="lead offset-1">{{ page_lead }}</p>
</div>

{{ entries:listing folder="projects" sort_by="random" }}
  <article class="colwrapper">
    <h2 class="{{ switch between='offset-2 d-offset-5|col-10 d-col-7' type='title' }}">{{ title }}</h2>
    <h3 class="clear {{ switch between='offset-2 d-offset-5|col-10 d-col-7' type='launched' }}">{{ launched }}</h3>
    <div class="intro {{ switch between='offset-2 d-offset-5|col-10 d-col-7' type='intro' }}">{{ intro }}</div>

    {{ if snapshot }}
      <figure class="col-11 {{ switch between='floatright|' type='snapshot' }}">
        <img src="{{ _site_root|backspace:1 }}{{ snapshot }}" alt="Snapshot of {{ title }}'s site">
      </figure>
    {{ endif }}

    <div class="{{ switch between='offset-3 d-offset-5|col-10 d-col-7' type='details' }}">
      {{ if goal }}
        <h3><i aria-hidden="true" class="icon-direction yellow"></i>Goal</h3>
        {{ goal }}
      {{ endif }}

      {{ if involvement }}
        <h3><i aria-hidden="true" class="icon-retweet yellow"></i>My involvement</h3>
        {{ involvement }}
      {{ endif }}
      
      {{ if special }}
      <h3><i aria-hidden="true" class="icon-star-fill yellow"></i>Special features</h3>
      {{ special }}
      {{ endif }}
    </div>

    <div class="btns {{ switch between='right| ' type='btns' }}">
      {{ if slideshow:0:img }}
      <a href="#" class="btn chocolate screenshot-gallery {{ slug }}" data-slideshowimages="{{ slideshow }}{{ _site_root|backspace:1 }}{{ img }} {{ /slideshow }}">View screenshots <i aria-hidden="true" class="icon-images"></i></a>
      {{ endif }}

      {{ if link }}
      <a href="{{ link }}" class="btn">Visit site <i class="icon-export"></i></a>
      {{ endif }}
    </div>
  </article>
{{ /entries:listing }}

{{ if call_for_action }}
  {{ call_for_action }}
    <aside class="call-for-action {{ backgroundcolour }}">
        <div class="colwrapper">  
          <p class="d-offset-1 d-col-8">{{ copy }}</p>
          <a href="{{ link }}" class="btn {{ buttoncolour }}">{{ linktext }} <i aria-hidden="true" class="icon-chevron-right"></i></a>
        </div>
    </aside>
  {{ /call_for_action }}
{{ endif }}
